/* ========================= GLOBAL ========================== */

.root {
    -fx-font-family: "Segoe UI", Roboto, Arial;
    -fx-background-color: linear-gradient(to bottom right, #0a0f1f, #111827, #0d1220);
}

/* ScrollPane */
.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}


/* ========================= HEADER ========================== */

.header-bar {
    -fx-padding: 15 25;
    -fx-background-color: rgba(20, 30, 45, 0.85);
    -fx-border-color: rgba(0, 225, 255, 0.25);
    -fx-border-width: 0 0 1 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 225, 255, .15), 25, 0.3, 0, 3);
}

.header-title {
    -fx-text-fill: #00e1ff;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 225, 255, 0.6), 15, 0.2, 0, 0);;
}


/* ========================= COMBOBOX ========================== */

.combo-box {
    -fx-background-color: rgba(255,255,255,0.08);
    -fx-text-fill: #c8f1ff;
    -fx-background-radius: 6;
}

.combo-box .arrow {
    -fx-background-color: #00e1ff;
}

/* Combo popup */
.combo-box .list-cell {
    -fx-background-color: #111827;
    -fx-text-fill: #c8f1ff;
}

.combo-box .list-cell:hover {
    -fx-background-color: #0d233a;
}

/* ========================= HEADER BUTTON ========================== */

.header-button {
    -fx-background-color: rgba(0, 225, 255, 0.15);
    -fx-background-radius: 6;
    -fx-text-fill: #9dcbe3;
    -fx-padding: 7 18;
    -fx-cursor: hand;
}

.header-button:hover {
    -fx-background-color: rgba(0, 225, 255, 0.25);
    -fx-text-fill: white;
}

/* MenuButton (tampilan tombol) */
.userMenu {
    -fx-background-color: rgba(0, 225, 255, 0.15);
    -fx-background-radius: 6;
    -fx-text-fill: white;
}

.userMenu .label {
    -fx-text-fill: #9dcbe3;
}

.userMenu:hover {
    -fx-background-color: rgba(0, 225, 255, 0.25);
}

/* Dropdown menu popup */
.context-menu {
    -fx-background-color: #111827;
    -fx-text-fill: white;
    -fx-padding: 5 0 5 0;
}

/* Item di dalam menu */
.context-menu .menu-item .label {
    -fx-text-fill: white;
}

.context-menu .danger-item .label {
    -fx-text-fill: red;
}

/* Hover item */
.context-menu .menu-item:hover {
    -fx-background-color: rgba(0, 225, 255, 0.20);
}

.context-menu .menu-item:hover .label {
    -fx-text-fill: cyan;
}



/* ========================= SEARCH BAR ========================== */

.search-field {
    -fx-background-color: rgba(255,255,255,0.08);
    -fx-text-fill: #c8f1ff;
    -fx-background-radius: 8;
    -fx-padding: 10;
}

.search-field:focused {
    -fx-border-color: #00e1ff;
    -fx-border-width: 1.2;
}

.search-btn {
    -fx-background-color: rgba(0, 225, 255, 0.2);
    -fx-text-fill: #c8f1ff;
    -fx-background-radius: 6;
    -fx-padding: 10 18;
    -fx-font-weight: bold;
}

.search-btn:hover {
    -fx-background-color: rgba(0, 225, 255, 0.35);
    -fx-text-fill: white;
}


/* ========================= SECTION TITLE ========================== */

.section-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #cbd8ff;
    -fx-effect: dropshadow(gaussian, rgba(0, 225, 255, 0.25), 10, 0.3, 0, 0);
}


/* ========================= PRODUCT GRID ========================== */

.product-card {
    -fx-background-color: white;
    -fx-background-radius: 14;
    -fx-border-radius: 14;
    -fx-padding: 15;
    -fx-alignment: center;
    -fx-max-width: 180;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 20, 0.25, 0, 4);
    -fx-transition: 0.2s;
}

.product-card:hover {
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 25, 0.3, 0, 6);
    -fx-cursor: hand;
}

.product-image {
    -fx-background-radius: 12;
    -fx-border-radius: 12;
}

.product-name {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #1a1a1a;
}

.product-price {
    -fx-font-size: 14px;
    -fx-text-fill: #0051ff;
    -fx-font-weight: bold;
}


/* Book Title */
.book-title {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #c8f1ff;
}

/* Price */
.book-price {
    -fx-font-size: 12px;
    -fx-text-fill: #9dcbe3;
}
